                    /*------------/
                   Awesome Font
                /-----------*/
 @import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');

 *{
    box-sizing: border-box;
 } 

 body {
    margin: 0;
    padding: 0;
 }
 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#2C3E50;
 }
 .site-title{
   font-size: 2em;
   margin: .5em;
   font-family: 'Rubik Distressed', cursive;
 }
 .site-title span{
   color:#B03A2E;
 }
 .site-title a{
   text-decoration: none;
   color: blanchedalmond;
 } 
 .navbar-links ul{
   display: flex;
   margin: 0;
   padding: 0;
 }  
 .navbar-links li{
   list-style: none;
 } 
 .navbar-links li a{
   text-decoration: none;
   color: white;
   padding: 1.4rem;
   display: block;
   font-family: 'Kanit', sans-serif;
   font-weight: bold;

 }
 .navbar-links li:hover{
   background-color:rgb(134, 120, 120);  
 } 
 .toggle-button {
   position: absolute;
   top: .75rem ;
   right: 1rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 30px;
   height: 21px;
   
}
.toggle-button .bar{
   height: 3px;
   width: 100%;
   background-color: white;
   border-radius: 10px;
}
@media screen and (max-width: 600px) {
   .toggle-button{
      display: flex;
     
   }
    .navbar-links{
      width: 100%;
      display: none; 
   } 
   .navbar{
      flex-direction: column;
      align-items: flex-start;
   }
   .navbar-links ul{
      width: 100%;
      flex-direction: column;
   }
   .navbar-links li{
      text-align: center;
   }
   .navbar-links li a{
      padding: .5rem 1rem;
   }
   .navbar-links.active{
      display: flex;
   }
   
}


 